#content h1{
	background: url(../img/submit_work.png) no-repeat;
	margin-bottom: 30px;
}
#main form{
	width: 415px;
	margin: 0 auto;
}
#main form h4{
	font-size: 18px;
	margin-bottom: 15px;
	font-weight: normal;
}
#main form .texts, #main form select{
	width: 412px;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid #dcdcdc;
	margin-bottom: 30px;
}
textarea{
	width: 412px;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid #dcdcdc;
	min-height: 154px;
}
#message{
	margin-bottom: 30px;
	width: 415px;
}
#main #message p{
	color: #8e8e8e;
	position: relative;
	z-index: 2;
	margin: -35px 20px 0px 0px;
	float: right;
	font-size: 18px;
}
form #message p span{
	font-size: 12px;
}
#message p span#wordsize{
	font-size: 18px;
}
#main form span{
	font-size: 18px;
}
#main form input{
	vertical-align: bottom;
}
#main form p{
	margin-left: 0;
	color: #474747;
	margin-bottom: 15px;
}
form input.submit{
	width: 156px;
	font-size: 24px;
	height: 51px;
	background: #21c4cd;
	border: none;
	border-radius: 5px;
	color: #fff;
	position: relative;
	left: 50%;
	margin-top: 20px;
	margin-left: -78px;
}