#subnav{
	width: 750px;
	margin: 20px auto;
}
#subnav tr td a{
	text-align: center;
	display: inline-block;
	width: 90px;
	height: 125px;
	font-size: 18px;
	color: #5e5e5e;
	text-decoration: none;
}
#subnav tr td span{
	font-family: "宋体";
	font-size: 60px;
	color: #05c6d0;
}
#main form{
	width: 400px;
	margin: 0 auto;
}
#main form table{
	font-size: 18px;
	width: 100%;
}
#main form table tr td{
	line-height: 50px;
}
#main form input{
	color: #dcdcdc;
	padding-left: 10px;
	font-size: 18px;
	width: 228px;
	border-radius: 5px;
	border: 1px solid #dcdcdc;
}
#main form table .table_left{
	float: right;
}
#main form table select#select_1{
	width: 92px;
}
#main form table select#select_2{
	width: 133px;
	margin-left: 3px;
}
#main form span{
	color: #fe5360;
}
#main form input#save{
	margin-left: 72px;
	margin-top: 50px;
	background: #21c4cd;
	font-size: 24px;
	color: #fff;
	padding: 10px 0;
	width: 183px;
	border: 1px solid #05c6d0;
}
#main form a#go_back{
	font-size: 18px;
	color: #ff6666;
	margin-left: 21px;
	text-decoration: none;
}
#main form p{
	display: inline-block;
	margin: 10px 0 0 120px;
	font-size: 14px;
	line-height: 2em;
	color: #b0b0b0;
	background: url(../img/add_member.png) no-repeat;
	padding-left: 40px;
	cursor: pointer;
}
#main form table tr td input.name{
	width: 86px;
}
#main form p#delete_mem1,#main form p#delete_mem2,#main form p#delete_mem3{
	background: url(../img/delete_member.png) no-repeat;
	margin: 0;
	padding-left: 30px;
}
#main form table.hide{
	display: none;
}
#main form table.show{
	display: table;
}